services:
  db:
    image: postgres:18-alpine
    restart: unless-stopped 
    environment:
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: secure_password 
      POSTGRES_DB: local_db 
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    ports:
      - "5432:5432"

volumes:
  postgres_data:
